<launch>

  <arg name="robot_name" default="iris"/>
  <arg name="control_method" default="vel"/>

  <node name="multirotor_communication" pkg="gazebo_simulation" type="multirotor_communication.py"
  args="$(arg robot_name)" required="true"/>
  <node name="multirotor_keyboard_control" pkg="gazebo_simulation" type="multirotor_keyboard_control.py" output="screen"
  args="$(arg robot_name) $(arg control_method)" required="true"/>

</launch>