<launch>

  <arg name="robot_name" default="iris"/>
  <arg name="fcu_url" default="udp://:14540@127.0.0.1:14557"/>
  <arg name="gcs_url" default="" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="1" />
  <arg name="command_input" default="2" />
  <arg name="gazebo_simulation" default="true" />
  <arg name="visualization" default="true"/>
  <arg name="output" default="screen"/>
  <arg name="fcu_protocol" default="v1.0" />
  <arg name="respawn_mavros" default="false" />
  <arg name="world" default="$(find gazebo_simulation)/worlds/simple_world_1.world"/>
  <arg name="gui" default="true"/>
  <arg name="est" default="ekf2"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="R" default="0.0"/>
  <arg name="P" default="0.0"/>
  <arg name="Y" default="0.0"/>
  <arg name="tf_period" default="20"/>
    <!-- PX4 configs from px4 posix_sitl -->
    <arg name="interactive" default="true"/>
    <!-- PX4 SITL -->
    <arg unless="$(arg interactive)" name="px4_command_arg1" value="-d"/>
    <arg     if="$(arg interactive)" name="px4_command_arg1" value=""/>
    <env name="PX4_SIM_MODEL" value="$(arg robot_name)" />
    <env name="PX4_ESTIMATOR" value="$(arg est)" />

  <rosparam param="/x_pos_init" subst_value="True">$(arg x_pos)</rosparam>
  <rosparam param="/y_pos_init" subst_value="True">$(arg y_pos)</rosparam>
  <rosparam param="/z_pos_init" subst_value="True">$(arg z_pos)</rosparam>

  <!--
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster1" args="0 0 0 0 0 0 1 map odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster2" args="0.1 0 0 0 0 0 1 base_link camera_link $(arg tf_period)" />
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster3" args="0 0 0.068 0 0 0 1 base_link imu_link $(arg tf_period)" />
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster4" args="-0.064 0 0.122 0 0 0 1 base_link base_scan $(arg tf_period)" />
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster5" args="0.005 0.018 0.013 0 0 0 1 camera_link camera_rgb_frame $(arg tf_period)" />
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster6" args="0 0 0 -0.5 0.5 -0.5 0.5 camera_rgb_frame camera_rgb_optical_frame $(arg tf_period)" />
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster7" args="0.005 0.028 0.013 0 0 0 1 camera_link camera_depth_frame $(arg tf_period)" />
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster8" args="0 0 0 -0.5 0.5 -0.5 0.5 camera_depth_frame camera_depth_optical_frame $(arg tf_period)" />
  -->

  
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster1" args="$(arg x_pos) $(arg y_pos) $(arg z_pos) 0 0 0 1 world $(arg robot_name) $(arg tf_period)" />
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster2" args="0 0 0 0 0 0 1 iris map $(arg tf_period)" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster2" args="0 0 0 0 0 0 1 $(arg robot_name) $(arg robot_name)/base_link $(arg tf_period)" /> -->
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster3" args="0 0 0 -0.5 0.5 -0.5 0.5 $(arg robot_name)/base_link $(arg robot_name)/camera $(arg tf_period)" /> 

  <node ns="$(arg robot_name)" name="uav_tf" pkg="gazebo_simulation" type="uav_tf.py" output="$(arg output)"
      args="$(arg robot_name) $(arg robot_name)/base_link" required="true"/>

  <group ns = "$(arg robot_name)"> 
    <include file="$(find mavros)/launch/node.launch">
      <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
      <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

      <arg name="fcu_url" value="$(arg fcu_url)" />
      <arg name="gcs_url" value="$(arg gcs_url)" />
      <arg name="tgt_system" value="$(arg tgt_system)" />
      <arg name="tgt_component" value="$(arg tgt_component)" />
      <arg name="log_output" value="$(arg output)" />
      <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
      <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
    </include>
  </group>

  <node name="sitl" pkg="px4" type="px4" output="$(arg output)"
      args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS $(arg px4_command_arg1)" required="true"/>

    <!-- Gazebo sim -->
   <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world_name" value="$(arg world)"/>
  </include>
  <!-- gazebo model -->
  <node name="spawn_iris" pkg="gazebo_ros" type="spawn_model" output="$(arg output)" 
      args="-sdf -file $(find gazebo_simulation)/models/iris_depth_camera_modified/iris_depth_camera_modified.sdf
        -model iris
      -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

</launch>
